.background_header_img_container {
  background-image: url("../../assets/Fundo-header.png");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  max-height: 807px;
  border-radius: 0px 0px 0px 50%;
}
