//CORES

$background: #FFF;
$primary: #289257;
$secundary: #898989;


.color_primary {
  color: $primary;
}

.color_secundary {
  color: $secundary;
}

.color_tertiary {
  color: rgba(255, 255, 255, 0.88);;
}

.color_forth {
  color: #A6A6A6;
}

.color_fifhty {
  color: #96C94F;;
}

.color_white {
  color: #FFF;
}

.background_primary {
  background-color: $primary;
}

//TAMANHOS

@media (min-width: 1800px) {
  $font-title: 2.25rem;
  $font-body: 1.875rem;
}

@media (max-width:1800px) {
  $font-title: 2rem;
  $font-body: 1.5rem;
}


//FONTES

.primary_font {
  font-family: 'Roboto', sans-serif;
}

.secundary_font {
  font-family: 'Jomhuria', cursive;
}
